

:global(body){
  margin: 0;
  padding: 0;
}

:global(h1) {
  text-align: center;
  color: red;
  span {
    color: blue;
  }
}

:global(.container) {
  max-width: 1200px;
  margin: 0 auto;

}

:global(.btn-icon) {
  border: none;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0;
  margin-left: auto;
  cursor: pointer;
  text-decoration: none;
}

:global(.t-center) {
  text-align: center;
}

.main {

  &__content {
    display: grid;
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
  }
}